<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
	<h1>Mailing Calculations</h1>
	<p>Weight: <%= lbs %> ounces</p>
	<p>Mail Type: <%= mailType %></p>
	<p>Rate: $<%= rate %></p>
</body>
</html>
